Repository Integrity-Solutions-Consulting/isc-inventory-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Cambios pagina Empleados
  src/app/features/employees/pages/employee/employee.component.html
  src/app/features/employees/pages/employee/employee.component.ts
Due: prettier --write, eslint --fix

Cambios en formulario proveedor, retorno de equipo y se asigno el campo obserbacion en assignacion
  src/app/core/models/RequestDTO/inventory/EquipmentRevokeRequestDTO.ts
  src/app/core/models/RequestDTO/inventory/NationalityRequestDTO.ts
  src/app/core/models/RequestDTO/inventory/SupplierRequestDTO.ts
  src/app/core/models/ResponseDTO/inventory/EquipmentAssignmentDetailResponseDTO.ts
  src/app/core/models/ResponseDTO/inventory/EquipmentResponseDTO.ts
  src/app/core/models/ResponseDTO/inventory/SupplierResponseDTO.ts
  src/app/features/equipment/components/equipmentReturnForm/equipmentReturnForm.component.html
  src/app/features/equipment/components/equipmentReturnForm/equipmentReturnForm.component.ts
  src/app/features/equipment/pages/equipmentAssignment/equipmentAssignment.component.html
  src/app/features/equipment/pages/equipmentAssignment/equipmentAssignment.component.ts
  src/app/features/suppliers/components/supplierForm/supplierForm.component.html
  src/app/features/suppliers/components/supplierForm/supplierForm.component.ts
  src/app/shared/components/ruc.validator.ts
Due: prettier --write, eslint --fix

Proveedores de factura y boton disponible en reparacion
  src/app/features/equipment/components/equipmentInvoiceForm/equipmentInvoiceForm.component.ts
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.html
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.ts
Due: prettier --write, eslint --fix

aceptaaa
  src/app/features/suppliers/components/supplierForm/supplierForm.component.css
  src/app/features/suppliers/components/supplierForm/supplierForm.component.html
  src/app/features/suppliers/components/supplierForm/supplierForm.component.ts
Due: prettier --write, eslint --fix

form
  src/app/features/suppliers/components/supplierForm/supplierForm.component.css
  src/app/features/suppliers/components/supplierForm/supplierForm.component.html
Due: none

Mas botones
  src/app/features/equipment/components/equipmentRepairForm/equipmentRepairForm.component.html
  src/app/features/equipment/components/equipmentRepairForm/equipmentRepairForm.component.ts
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.html
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.ts
Due: prettier --write, eslint --fix

Perfil creado
  src/app/app.routes.ts
  src/app/features/profile/profile.component.html
  src/app/features/profile/profile.component.scss
  src/app/features/profile/profile.component.spec.ts
  src/app/features/profile/profile.component.ts
  src/app/features/setting/routes/setting.routing.ts
  src/app/shared/components/nav/nav.component.html
  src/app/shared/components/nav/nav.component.ts
Due: prettier --write, eslint --fix

listado de nombres de assignacion de equipos
  src/app/core/models/ResponseDTO/inventory/EquipmentRepairDetailResponseDTO.ts
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.html
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.ts
  src/app/features/suppliers/components/supplierForm/supplierForm.component.html
  src/app/features/suppliers/components/supplierForm/supplierForm.component.ts
  src/app/shared/components/ruc.validator.ts
Due: prettier --write, eslint --fix

enlistamiento
  src/app/core/models/ResponseDTO/administration/CustomerResponseDTO.ts
  src/app/features/equipment/components/equipmentRepairForm/equipmentRepairForm.component.html
  src/app/features/equipment/components/equipmentRepairForm/equipmentRepairForm.component.ts
  src/app/features/equipment/pages/equipment/equipment.component.css
  src/app/features/equipment/pages/equipment/equipment.component.html
  src/app/features/equipment/pages/equipment/equipment.component.ts
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.html
  src/app/features/suppliers/components/supplierForm/supplierForm.component.html
  src/app/features/suppliers/services/supplier/supplier.service.ts
Due: prettier --write, eslint --fix

Creacion y edicion de reparaciones
  src/app/features/equipment/components/equipmentRepairForm/equipmentRepairForm.component.html
  src/app/features/equipment/components/equipmentRepairForm/equipmentRepairForm.component.ts
  src/app/features/equipment/pages/equipment/equipment.component.ts
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.html
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.ts
  src/app/features/equipment/services/repair/repair.service.ts
Due: prettier --write, eslint --fix

Creacion y edicion de reparaciones
  src/app/features/equipment/components/equipmentRepairForm/equipmentRepairForm.component.ts
Due: prettier --write, eslint --fix

mal
  src/app/core/models/RequestDTO/inventory/EquipmentRepairRequestDTO.ts
  src/app/core/models/ResponseDTO/inventory/EquipmentRepairDetailResponseDTO.ts
  src/app/features/equipment/components/equipmentRepairForm/equipmentRepairForm.component.html
  src/app/features/equipment/components/equipmentRepairForm/equipmentRepairForm.component.ts
  src/app/features/equipment/pages/equipment/equipment.component.css
  src/app/features/equipment/pages/equipment/equipment.component.ts
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.html
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

Ultimos cambios supplier y equipment
  src/app/features/equipment/pages/equipmentDetail/equipmentDetail.component.html
Due: none

fixed de jose merge
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.ts
Due: prettier --write, eslint --fix

20/08/2025
  src/app/features/suppliers/components/supplierForm/supplierForm.component.css
Due: none

cambios para ambiente desa
  docker-compose.yml
Due: prettier --write

fix para env front
  docker-compose.yml
  dockerfile
  src/environments/environment.prod.ts
Due: prettier --write, eslint --fix

fix para env front
  docker-compose.yml
Due: prettier --write

provedores reparacion, boton de guardado
  src/app/core/models/RequestDTO/inventory/EquipmentRepairRequestDTO.ts
  src/app/core/models/ResponseDTO/inventory/EquipmentRepairDetailResponseDTO.ts
  src/app/features/equipment/components/equipmentRepairForm/equipmentRepairForm.component.html
  src/app/features/equipment/components/equipmentRepairForm/equipmentRepairForm.component.ts
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.html
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.ts
  src/app/features/suppliers/components/supplierForm/supplierForm.component.css
Due: prettier --write, eslint --fix

cambio de getSuppliersIdType(1) a getSuppliersIdType(2) por que es la que busca servicios profesionales
  src/app/features/equipment/components/equipmentRepairForm/equipmentRepairForm.component.ts
Due: prettier --write, eslint --fix

Correccion visual de login, forgotpassword, error
  src/app/errors/pages/error404/error404.component.css
  src/app/errors/pages/error404/error404.component.html
  src/app/features/auth/components/forgotPassword/forgotPassword.component.css
  src/app/features/auth/components/login/login.component.css
Due: none

para ques e vea ms bonito login
  src/app/features/auth/components/login/login.component.css
Due: none

Cambio de contraseña completo, falta mensaje de exito
  src/app/app.routes.ts
  src/app/core/services/session/session.service.ts
  src/app/features/auth/services/auth.service.ts
  src/app/features/profile/profile.component.html
  src/app/features/profile/profile.component.scss
  src/app/features/profile/profile.component.ts
  src/app/features/setting/routes/setting.routing.ts
  src/app/features/users/components/change-password/change-password.component.html
  src/app/features/users/components/change-password/change-password.component.scss
  src/app/features/users/components/change-password/change-password.component.spec.ts
  src/app/features/users/components/change-password/change-password.component.ts
  src/app/features/users/pages/profile/profile.component.html
  src/app/features/users/pages/profile/profile.component.scss
  src/app/features/users/pages/profile/profile.component.spec.ts
  src/app/features/users/pages/profile/profile.component.ts
  src/app/features/users/services/user.service.ts
Due: prettier --write, eslint --fix

Cambiar contraseña
  src/app/features/users/components/change-password/change-password.component.html
  src/app/features/users/components/change-password/change-password.component.scss
  src/app/features/users/components/change-password/change-password.component.ts
  src/app/features/users/pages/profile/profile.component.ts
Due: prettier --write, eslint --fix

cambios en roles
  src/app/features/roles/components/rolForm/rolForm.component.html
  src/app/features/roles/components/rolForm/rolForm.component.ts
  src/app/features/users/components/userForm/userForm.component.ts
Due: prettier --write, eslint --fix

Cambiar contraseña perfil
  src/app/features/users/components/change-password/change-password.component.ts
  src/app/features/users/pages/profile/profile.component.ts
Due: prettier --write, eslint --fix

Formulario proveedor corregido
  src/app/features/suppliers/components/supplierForm/supplierForm.component.css
  src/app/features/suppliers/components/supplierForm/supplierForm.component.html
  src/app/features/suppliers/components/supplierForm/supplierForm.component.ts
Due: prettier --write, eslint --fix

Formulario proveedor corregido
  src/app/features/suppliers/components/supplierForm/supplierForm.component.ts
Due: prettier --write, eslint --fix

Formulario proveedor corregido
  src/app/features/suppliers/components/supplierForm/supplierForm.component.html
Due: none

Formulario proveedor corregido
  src/app/features/suppliers/components/supplierForm/supplierForm.component.css
Due: none

Integrity Solutions
  src/app/features/auth/pages/auth/auth.component.html
Due: none

Update supplierForm
  src/app/features/suppliers/components/supplierForm/supplierForm.component.html
Due: none

Change modal title from 'Editar Rol' to 'Editar Equipo'
  src/app/features/equipment/pages/equipment/equipment.component.ts
Due: prettier --write, eslint --fix

cambio de campo
  src/app/features/suppliers/components/supplierForm/supplierForm.component.html
Due: none

Espacio mas grande despues de Contraseña en Login y correccion de forgot-password
  package-lock.json
  src/app/features/auth/components/forgotPassword/forgotPassword.component.css
  src/app/features/auth/components/forgotPassword/forgotPassword.component.ts
  src/app/features/auth/components/login/login.component.css
Due: prettier --write, eslint --fix

campo direccion :
  src/app/features/roles/components/rolForm/rolForm.component.html
  src/app/features/suppliers/components/supplierForm/supplierForm.component.html
  src/app/features/suppliers/components/supplierForm/supplierForm.component.ts
Due: prettier --write, eslint --fix

Espacio mas grande despues de Contraseña en Login y correccion de forgot-password y change-password
  src/app/features/users/components/change-password/change-password.component.html
  src/app/features/users/components/change-password/change-password.component.scss
  src/app/features/users/components/change-password/change-password.component.ts
  src/app/features/users/pages/profile/profile.component.ts
Due: prettier --write, eslint --fix

Profile convertido en modal
  src/app/app.routes.ts
  src/app/features/setting/routes/setting.routing.ts
  src/app/features/users/components/change-password/change-password.component.scss
  src/app/features/users/pages/profile/profile.component.html
  src/app/features/users/pages/profile/profile.component.scss
  src/app/features/users/pages/profile/profile.component.ts
  src/app/shared/components/nav/nav.component.ts
Due: prettier --write, eslint --fix

Loading agragado a Logout
  src/app/shared/components/nav/nav.component.ts
Due: prettier --write, eslint --fix

Ultimo cambio
  src/app/features/suppliers/components/supplierForm/supplierForm.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{json,md,yml,yaml})
  eslint --fix: any of: **/*.{js,ts,jsx,tsx}
