Repository Integrity-Solutions-Consulting/isc-inventory-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

packagelock
  package-lock.json
Due: prettier --write

Arreglos de profile y change-password
  src/app/features/users/components/change-password/change-password.component.html
  src/app/features/users/components/change-password/change-password.component.scss
  src/app/features/users/pages/profile/profile.component.scss
  src/app/shared/components/nav/nav.component.ts
Due: prettier --write, eslint --fix

Arreglos de change-password
  src/app/features/users/components/change-password/change-password.component.html
  src/app/features/users/components/change-password/change-password.component.scss
  src/app/features/users/components/change-password/change-password.component.ts
  src/app/features/users/pages/profile/profile.component.scss
Due: prettier --write, eslint --fix

Arreglo da clase
  src/app/features/users/components/change-password/change-password.component.css
Due: none

Update change-password.component.ts
  src/app/features/users/components/change-password/change-password.component.ts
Due: prettier --write, eslint --fix

F
  src/app/features/auth/pages/auth/auth.component.ts
  src/app/features/dashboard/components/home/home.component.ts
  src/app/features/users/components/change-password/change-password.component.ts
Due: prettier --write, eslint --fix

Descargar en excel y filtro condicion y status
  package-lock.json
  package.json
  src/app/features/equipment/pages/equipment/equipment.component.css
  src/app/features/equipment/pages/equipment/equipment.component.html
  src/app/features/equipment/pages/equipment/equipment.component.ts
Due: prettier --write, eslint --fix

Mejora pagina de error y condiciones forgotPassword
  src/app/errors/pages/error404/error404.component.css
  src/app/errors/pages/error404/error404.component.html
  src/app/features/auth/components/forgotPassword/forgotPassword.component.html
  src/app/features/auth/components/forgotPassword/forgotPassword.component.ts
  src/app/features/equipment/pages/equipment/equipment.component.ts
Due: prettier --write, eslint --fix

Mejora pagina de error y condiciones forgotPassword
  src/app/shared/components/form/form.component.ts
Due: prettier --write, eslint --fix

Cambio de link en docker-compose y enviroments
  docker-compose.yml
  src/environments/environment.ts
Due: prettier --write, eslint --fix

feat: se corrigen archivos de contenerizacion y cambios menores
  .docker/containerfile
  bun.lock
  default.conf
  docker-compose.yml
  dockerfile
  package.json
  src/app/app.config.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, eslint --fix

Update angular.json
  angular.json
Due: prettier --write

Create development.ts
  src/environments/development.ts
Due: prettier --write, eslint --fix

Rename development.ts to environments.development.ts
  src/environments/environments.development.ts
Due: prettier --write, eslint --fix

Rename environments.development.ts to environment.development.ts
  src/environments/environment.development.ts
Due: prettier --write, eslint --fix

fix: add @angular/localize dep
  angular.json
  package-lock.json
  package.json
  src/main.ts
  tsconfig.app.json
  tsconfig.spec.json
Due: prettier --write, eslint --fix

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

Update environment.development.ts
  src/environments/environment.development.ts
Due: prettier --write, eslint --fix

Update environment.ts
  src/environments/environment.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{json,md,yml,yaml})
  eslint --fix: any of: **/*.{js,ts,jsx,tsx}
