Repository Integrity-Solutions-Consulting/isc-inventory-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{js,ts,jsx,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "**/*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

cambios
  src/app/core/models/ResponseDTO/UserDetailsResponseDTO.ts
  src/app/features/equipment/pages/equipmentDetail/equipmentDetail.component.html
  src/app/features/setting/routes/setting.routing.ts
  src/app/features/users/pages/userDetails/userDetails.component.css
  src/app/features/users/pages/userDetails/userDetails.component.html
  src/app/features/users/pages/userDetails/userDetails.component.ts
  src/app/features/users/services/user.service.ts
Due: prettier --write, eslint --fix

contruccion de supplier con un nuevo campo supplierType
  src/app/core/models/RequestDTO/inventory/SupplierRequestDTO.ts
  src/app/core/models/RequestDTO/inventory/SupplierTypeRequestDTO.ts
  src/app/core/models/ResponseDTO/UserDetailsResponseDTO.ts
  src/app/core/models/ResponseDTO/inventory/SupplierResponseDTO.ts
  src/app/core/models/ResponseDTO/inventory/SupplierTypeResponseDTO.ts
  src/app/features/suppliers/components/supplierForm/supplierForm.component.css
  src/app/features/suppliers/components/supplierForm/supplierForm.component.html
  src/app/features/suppliers/components/supplierForm/supplierForm.component.ts
  src/app/features/suppliers/pages/supplier/supplier.component.html
  src/app/features/suppliers/pages/supplier/supplier.component.ts
  src/app/features/suppliers/services/supplier/supplier-type.service.spec.ts
  src/app/features/suppliers/services/supplier/supplier-type.service.ts
  src/app/features/suppliers/services/supplier/supplier.service.ts
  src/app/features/users/pages/userDetails/userDetails.component.html
  src/app/features/users/pages/userDetails/userDetails.component.ts
Due: prettier --write, eslint --fix

Correcciones
  src/app/core/models/RequestDTO/inventory/EquipmentRepairStatusChangeRequestDTO.ts
  src/app/core/models/ResponseDTO/inventory/EquipmentRepairDetailResponseDTO.ts
  src/app/features/equipment/components/equipmentAssignmentForm/equipmentAssignmentForm.component.html
  src/app/features/equipment/components/equipmentAssignmentForm/equipmentAssignmentForm.component.ts
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.html
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.ts
  src/app/features/equipment/services/assaignment/assaingment.service.ts
  src/app/features/equipment/services/equipment/equipment.service.ts
  src/app/features/users/pages/userDetails/userDetails.component.css
  src/app/features/users/pages/userDetails/userDetails.component.html
  src/app/features/users/pages/userDetails/userDetails.component.ts
  src/styles.scss
Due: prettier --write, eslint --fix

cambios en funcionalidades y arreglos
  src/app/core/models/ResponseDTO/inventory/EquipmentAssignmentDetailResponseDTO.ts
  src/app/features/employees/pages/employee/employee.component.html
  src/app/features/equipment/pages/equipmentAssignment/equipmentAssignment.component.html
  src/app/features/equipment/pages/equipmentAssignment/equipmentAssignment.component.ts
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.ts
  src/app/features/users/components/userForm/userForm.component.ts
  src/app/features/users/pages/user/user.component.css
  src/app/features/users/pages/user/user.component.html
Due: prettier --write, eslint --fix

merge con jose
  src/app/features/dashboard/components/home/home.component.ts
  src/app/features/dashboard/services/dashboard/dashboard.service.ts
Due: prettier --write, eslint --fix

finalizacion del dashboard
  src/app/core/models/ResponseDTO/inventory/DashboardAcquisitionResponseDTO.ts
  src/app/core/models/ResponseDTO/inventory/DashboardEquipmentAssignedByCategoryResponseDTO .ts
  src/app/core/models/ResponseDTO/inventory/DashboardEquipmentStatusSummaryResponseDTO .ts
  src/app/core/models/ResponseDTO/inventory/DashboardResponseDTO.ts
  src/app/features/dashboard/components/home/home.component.html
  src/app/features/dashboard/components/home/home.component.ts
  src/app/features/dashboard/components/lineChart/lineChart.component.html
  src/app/features/dashboard/components/lineChart/lineChart.component.ts
  src/app/features/dashboard/components/pieChart/pieChart.component.html
  src/app/features/dashboard/components/pieChart/pieChart.component.ts
  src/app/features/dashboard/components/verticalBarChart/verticalBarChart.component.html
  src/app/features/dashboard/components/verticalBarChart/verticalBarChart.component.ts
  src/app/features/dashboard/services/dashboard/dashboard.service.ts
  src/styles.scss
Due: prettier --write, eslint --fix

ajustes en equipo, reparacion, asignacion y proveedor
  src/app/core/models/RequestDTO/inventory/EquipmentRevokeRequestDTO.ts
  src/app/core/models/ResponseDTO/inventory/EquipmentAssignmentDetailResponseDTO.ts
  src/app/features/customers/pages/customer/customer.component.html
  src/app/features/employees/pages/employee/employee.component.ts
  src/app/features/equipment/components/equipmentAssignmentForm/equipmentAssignmentForm.component.html
  src/app/features/equipment/components/equipmentRepairForm/equipmentRepairForm.component.ts
  src/app/features/equipment/components/equipmentReturnForm/equipmentReturnForm.component.css
  src/app/features/equipment/components/equipmentReturnForm/equipmentReturnForm.component.html
  src/app/features/equipment/components/equipmentReturnForm/equipmentReturnForm.component.ts
  src/app/features/equipment/pages/equipment/equipment.component.ts
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.html
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.ts
  src/app/features/suppliers/components/supplierForm/supplierForm.component.html
Due: prettier --write, eslint --fix

cambios antes de la presentacion
  src/app/features/equipment/components/equipmentRepairForm/equipmentRepairForm.component.html
  src/app/features/equipment/components/equipmentRepairForm/equipmentRepairForm.component.ts
  src/app/features/equipment/pages/equipment/equipment.component.html
  src/app/features/equipment/pages/equipment/equipment.component.ts
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.ts
  src/app/features/equipment/services/repair/repair.service.ts
Due: prettier --write, eslint --fix

cambios en usuarios
  src/app/features/users/pages/user/user.component.html
  src/app/features/users/pages/user/user.component.ts
  src/app/features/users/pages/userDetails/userDetails.component.css
  src/app/features/users/pages/userDetails/userDetails.component.html
  src/app/features/users/pages/userDetails/userDetails.component.ts
Due: prettier --write, eslint --fix

spinner
  src/app/features/equipment/pages/equipmentAssignment/equipmentAssignment.component.ts
Due: prettier --write, eslint --fix

cambios en el funcionamiento
  src/app/core/models/RequestDTO/administration/CustomerRequestDTO.ts
  src/app/core/models/RequestDTO/inventory/SupplierRequestDTO.ts
  src/app/core/models/ResponseDTO/administration/CustomerDetailResponseDTO.ts
  src/app/core/models/ResponseDTO/administration/CustomerResponseDTO.ts
  src/app/core/models/ResponseDTO/inventory/SupplierResponseDTO.ts
  src/app/features/customers/components/customerForm/customerForm.component.ts
  src/app/features/customers/pages/customer/customer.component.html
  src/app/features/customers/pages/customer/customer.component.ts
  src/app/features/equipment/components/equipmentReturnForm/equipmentReturnForm.component.html
  src/app/features/equipment/pages/equipment/equipment.component.html
  src/app/features/equipment/pages/equipment/equipment.component.ts
  src/app/features/equipment/pages/equipmentAssignment/equipmentAssignment.component.html
  src/app/features/equipment/pages/equipmentAssignment/equipmentAssignment.component.ts
  src/app/features/equipment/services/assaignment/assaingment.service.ts
  src/app/features/suppliers/components/supplierForm/supplierForm.component.html
  src/app/features/suppliers/components/supplierForm/supplierForm.component.ts
  src/app/features/suppliers/pages/supplier/supplier.component.html
  src/app/features/suppliers/pages/supplier/supplier.component.ts
Due: prettier --write, eslint --fix

configuracion para despliegue
  docker-compose.yml
  src/app/core/models/Modal/report.jrxml
  src/environments/environment.prod.ts
Due: prettier --write, eslint --fix

Create deploy.yml
  .github/workflows/deploy.yml
Due: prettier --write

Update deploy.yml
  .github/workflows/deploy.yml
Due: prettier --write

configuracion para despliegue
  docker-compose.yml
  dockerfile
Due: prettier --write

configuracion para despliegue
  default.conf
  docker-compose.yml
Due: prettier --write

configuracion para despliegue
  docker-compose.yml
Due: prettier --write

Cambios en roles y reparacion
  src/app/features/roles/pages/role/role.component.html
Due: none

Dismissal Equipo
  src/app/core/models/ResponseDTO/UserDetailsResponseDTO.ts
  src/app/features/dashboard/routes/dashboard.routing.ts
  src/app/features/equipment/pages/equipmentDismissal/equipmentDismissal.component.css
  src/app/features/equipment/pages/equipmentDismissal/equipmentDismissal.component.html
  src/app/features/equipment/pages/equipmentDismissal/equipmentDismissal.component.spec.ts
  src/app/features/equipment/pages/equipmentDismissal/equipmentDismissal.component.ts
  src/app/features/equipment/services/equipmentDismissal/equipmentDismissal.service.spec.ts
  src/app/features/equipment/services/equipmentDismissal/equipmentDismissal.service.ts
  src/app/features/users/pages/userDetails/userDetails.component.html
Due: prettier --write, eslint --fix

configuracion para backend
  src/environments/environment.prod.ts
Due: prettier --write, eslint --fix

cambios en dismissal
  src/app/core/models/RequestDTO/inventory/EquipmentDismissalRequestDTO.ts
  src/app/core/models/ResponseDTO/inventory/EquipmentDismissalResponseDTO.ts
  src/app/features/equipment/pages/equipmentDismissal/equipmentDismissal.component.ts
  src/app/features/equipment/services/equipmentDismissal/equipmentDismissal.service.ts
  src/app/features/suppliers/components/supplierForm/supplierForm.component.html
  src/environments/environment.ts
Due: prettier --write, eslint --fix

habilitacion de equipos de baja
  src/app/core/models/ResponseDTO/inventory/EquipmentDismissalResponseDTO.ts
  src/app/features/equipment/pages/equipment/equipment.component.html
  src/app/features/equipment/pages/equipment/equipment.component.ts
  src/app/features/equipment/pages/equipmentDismissal/equipmentDismissal.component.css
  src/app/features/equipment/pages/equipmentDismissal/equipmentDismissal.component.html
  src/app/features/equipment/pages/equipmentDismissal/equipmentDismissal.component.ts
  src/app/features/equipment/services/equipmentDismissal/equipmentDismissal.service.ts
  src/app/shared/components/nav/nav.component.html
  src/app/shared/components/nav/nav.component.ts
Due: prettier --write, eslint --fix

cambios en la tabla de equipos de baja
  src/app/features/equipment/pages/equipmentDismissal/equipmentDismissal.component.html
  src/app/features/equipment/pages/equipmentDismissal/equipmentDismissal.component.ts
Due: prettier --write, eslint --fix

cambios al dashboard
  public/assets/No_data.png
  src/app/features/dashboard/components/pieChart/pieChart.component.css
  src/app/features/dashboard/components/pieChart/pieChart.component.html
  src/app/features/dashboard/components/pieChart/pieChart.component.ts
  src/app/features/dashboard/components/verticalBarChart/verticalBarChart.component.css
  src/app/features/dashboard/components/verticalBarChart/verticalBarChart.component.html
  src/app/features/dashboard/components/verticalBarChart/verticalBarChart.component.ts
Due: prettier --write, eslint --fix

Correcion de botones en assignacion de equipo
  src/app/features/equipment/pages/equipmentAssignment/equipmentAssignment.component.html
  src/app/features/equipment/pages/equipmentAssignment/equipmentAssignment.component.ts
Due: prettier --write, eslint --fix

Reparacion de equipos ordenado por estado y paginas con 20 datos estandar
  src/app/features/customers/pages/customer/customer.component.html
  src/app/features/employees/pages/employee/employee.component.html
  src/app/features/equipment/pages/equipment/equipment.component.html
  src/app/features/equipment/pages/equipmentAssignment/equipmentAssignment.component.html
  src/app/features/equipment/pages/equipmentDismissal/equipmentDismissal.component.html
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.html
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.ts
  src/app/features/menu/pages/menu/menu.component.html
  src/app/features/privilege/pages/privilege/privilege.component.html
  src/app/features/roles/pages/role/role.component.html
  src/app/features/suppliers/pages/supplier/supplier.component.html
  src/app/features/users/pages/user/user.component.html
Due: prettier --write, eslint --fix

Side-bar para cortar los nombres
  src/app/shared/components/side-nav/side-nav.component.css
  src/app/shared/components/side-nav/side-nav.component.html
Due: none

Correcciones de detalles de equipos
  src/app/features/equipment/components/warranty-type-form/warranty-type-form.component.ts
  src/app/features/equipment/pages/equipmentDetail/equipmentDetail.component.css
  src/app/features/equipment/pages/equipmentDetail/equipmentDetail.component.html
  src/app/features/equipment/pages/equipmentDetail/equipmentDetail.component.ts
Due: prettier --write, eslint --fix

Tipos de baja formulario
  src/app/core/models/RequestDTO/inventory/EquipmentDismissalRequestDTO.ts
  src/app/core/models/RequestDTO/inventory/EquipmentDismissalTypeRequestDTO.ts
  src/app/core/models/ResponseDTO/inventory/EquipmentDismissalResponseDTO.ts
  src/app/core/models/ResponseDTO/inventory/EquipmentDismissalTypeResponseDTO.ts
  src/app/features/equipment/components/equipmentAssignmentForm/equipmentAssignmentForm.component.html
  src/app/features/equipment/components/equipmentDismissalForm/equipmentDismissalForm.component.css
  src/app/features/equipment/components/equipmentDismissalForm/equipmentDismissalForm.component.html
  src/app/features/equipment/components/equipmentDismissalForm/equipmentDismissalForm.component.ts
  src/app/features/equipment/components/equipmentReturnForm/equipmentReturnForm.component.ts
  src/app/features/equipment/pages/equipment/equipment.component.html
  src/app/features/equipment/pages/equipmentDismissal/equipmentDismissal.component.html
  src/app/features/equipment/pages/equipmentDismissal/equipmentDismissal.component.ts
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.html
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.spec.ts
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.ts
  src/app/features/equipment/services/equipmentDismissal/equipmentDismissal.service.ts
  src/styles.scss
Due: prettier --write, eslint --fix

arreglo de errores estilos en dismissal
  src/app/features/equipment/pages/equipmentDismissal/equipmentDismissal.component.css
  src/styles.scss
Due: none

Estado equipo eliminado de repair
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.html
Due: none

no se hicieron cambios
  src/app/features/equipment/pages/equipmentAssignment/equipmentAssignment.component.ts
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.ts
Due: prettier --write, eslint --fix

Permisos de acciones
  src/app/features/equipment/pages/equipment/equipment.component.html
  src/app/features/equipment/pages/equipment/equipment.component.ts
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.html
  src/app/features/equipment/services/equipment/equipment.service.ts
Due: prettier --write, eslint --fix

Delimitar texto y ubicacion de tarjetas
  src/app/features/dashboard/components/home/home.component.css
  src/app/features/dashboard/components/pieChart/pieChart.component.css
Due: none

Modificacion de botones en asignacion y cambio de datos en condiciones
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.html
Due: none

Arreglos de errores
  src/app/features/equipment/components/equipmentDismissalForm/equipmentDismissalForm.component.css
  src/app/features/equipment/components/equipmentDismissalForm/equipmentDismissalForm.component.html
  src/app/features/equipment/components/equipmentDismissalForm/equipmentDismissalForm.component.ts
  src/app/features/equipment/pages/equipment/equipment.component.html
  src/app/features/equipment/pages/equipment/equipment.component.ts
  src/app/features/equipment/pages/equipmentDismissal/equipmentDismissal.component.css
  src/app/features/equipment/pages/equipmentDismissal/equipmentDismissal.component.html
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.css
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.html
  src/app/features/equipment/pages/equipmentRepair/equipmentRepair.component.ts
Due: prettier --write, eslint --fix

cambios
  src/app/core/models/ResponseDTO/inventory/ConditionResponseDTO.ts
  src/app/features/customers/components/customerForm/customerForm.component.html
  src/app/features/customers/pages/customer/customer.component.html
  src/app/features/customers/pages/customer/customer.component.ts
  src/app/features/employees/pages/employee/employee.component.html
  src/app/features/employees/pages/employee/employee.component.ts
  src/app/features/equipment/pages/equipmentDismissal/equipmentDismissal.component.css
Due: prettier --write, eslint --fix

cambio en nombre de las tablas empleados
  src/app/features/employees/pages/employee/employee.component.html
Due: none
